body{
    background-color: black;
    color: white;
}
.App{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 25px 0;
}
img{
    max-height: 80vh;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px white;
}
button{
    color: white;
    background-color: purple;
    border: 1px solid purple;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 5px purple;
    cursor: pointer;
    transition: .2s;
}
button:hover{
    transform: scale(1.1);
    border: 1px solid white;
}